.loader-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white; 
  display: flex;
  flex-direction: column; /* Allows text to stay under the logo */
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.loader-logo {
  width: 120px; 
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { transform: scale(0.9); opacity: 0.6; }
  50% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(0.9); opacity: 0.6; }
}